@media (max-width: 1400px) {

  body {
    background-image: url('../images/background_body.jpg');
    background-size: auto;
  }

  .wrapper {
    width: 1300px;
    height: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 110px auto;
  }

  .resume {
    margin-left: 30px;
  }

  .skillsDescription-block {
    margin-left: 30px;
  }

  .education {
    margin-left: 30px;
  }

  .downloadLinks {
    margin-left: 30px;
  }

  .portfolioBlock {
    margin-left: 30px;
  }
}